@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: "Russo One";
}
